<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Retrieval Application</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container text-center mt-5">
      <h1 class="mb-5">Video Retrieval Application</h1>
      <div class="btn-group">
        <button
          class="btn btn-primary"
          onclick="location.href='{{ url_for('upload_page') }}'"
        >
          Upload Video
        </button>
        <button
          class="btn btn-secondary"
          onclick="location.href='{{ url_for('search_page') }}'"
        >
          Search Videos
        </button>
        <button
          class="btn btn-info"
          onclick="location.href='{{ url_for('dashboard') }}'"
        >
          View Dashboard
        </button>
        <button
          class="btn btn-success"
          onclick="location.href='{{ url_for('view_all_videos') }}'"
        >
          View All Videos
        </button>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
